.shop-container{
    display:grid;
    grid-template-columns: 3fr 1fr;
}
.shop-container .products{
    border-right: 1px solid lightgray;
    margin: 20px;

}
/* .shop-container .cart{
    border-bottom: 5px solid red;
} */

.pagination{
    margin: 20px auto;
}
.pagination button{
    background-color: wheat;
    color: black;
    padding: 5px 20px;
    margin-left: 10px; 
    font-size: 20px;
    font-weight: bold;
    border: 0;
    border-radius: 5px;
   
}
.pagination .selected{
    background-color: black;
    color: white;
    font-weight: bold;
}